// Specific CSS for your home-pageb
h1 {
 color: white;
}

body {
  background-color: #D3D4D6;
}

.add-cocktail {
  color: white;
}

li {
  list-style: none;
}

.cocktail-cards {
  display: flex;
  margin: 20px;
}

.card{
  margin: 10px;
  opacity: 0.9;
}

h1 {
  color: #E01965;
}

.header {
  padding: 40px;
}
